.site {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;


    background-color: #5d9cec;
    background: linear-gradient(to right, #5b86e5, #5d9cec);
    background-size: 100% auto;
    color: #fff;
    text-align: center;

    .body {
      height: 200vh;
    }

    .text {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .scroll {
      flex: 0;
      margin: 20px;
    }
  }
}
