.site .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #5d9cec;
  background-size: 100% auto;
  color: #fff;
  text-align: center; }
  .site .intro .body {
    height: 200vh; }
  .site .intro .text {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .site .intro .scroll {
    flex: 0;
    margin: 20px; }
