* {
  // --top-bar-height: 80px;

  --font-weight-ultra-light: 100;
  --font-weight-thin: 200;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  box-sizing: border-box;

  font-family: "San Francisco", Helvetica, Arial, sans-serif;
  font-weight: var(--font-weight-thin);
}
